<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<div class="container" align="center">
    <nav th:replace="fragments :: nav"></nav>
    <img th:src="@{images/bio.png}" id="center" alt="loading image" width="480" height="551"/>
    <p>My name is Kel (they/she) and I make these things in my bedroom in St. Louis, MO.
        <br><br>
        I’m interested in building you something special, repairing your gear, collaborating with you, hearing your ideas,
        helping you actualize your creative dreams, touring with you as an audio engineer,
        TM,or tech and more.
        <br><br>
        Email me watteveraudio@gmail.com
        <br><br>
        Xoxo kelowatt</p>
</div>

</body>
</html>